@font-face {
  font-family: 'gilroy-100';
  src: url(/static/fonts/Gilroy-Thin.ttf);
}

@font-face {
  font-family: 'gilroy-200';
  src: url(/static/fonts/Gilroy-UltraLight.ttf);
}

@font-face {
  font-family: 'gilroy-300';
  src: url(/static/fonts/Gilroy-Light.ttf);
}

@font-face {
  font-family: 'gilroy-400';
  src: url(/static/fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: 'gilroy-500';
  src: url(/static/fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: 'gilroy-600';
  src: url(/static/fonts/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: 'gilroy-700';
  src: url(/static/fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: 'gilroy-800';
  src: url(/static/fonts/Gilroy-ExtraBold.ttf);
}


@font-face {
  font-family: 'gilroy-900';
  src: url(/static/fonts/Gilroy-Black.ttf);
}


@font-face {
  font-family: 'gilroy-1000';
  src: url(/static/fonts/Gilroy-Heavy.ttf);
}

@font-face {
  font-family: 'Suntage';
  src: url('/static//fonts/suntage.ttf');
}
  

body{
    color: #e4e5eb;
    background-color: #0b0b0b;
    overflow: auto;
    font-family: "gilroy-500";
}

:root{
    --main-color: #00FFB2;
}


::-webkit-scrollbar{
    width: 5px;
    height: 0;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #00ffb3b1;
}

.login-img{
    width: 45%;
    overflow: hidden !important;
    position: relative;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
}

#login-img{
    position: absolute;
    bottom: 0;
    top: 0;
    overflow: hidden !important;
    left: 0;
    width: 100%;
    opacity: 90%;
}

.login{
    position: relative;
    position: absolute;
    right: 0;
    width: 55%;
    top: 0;
    bottom: 0;
    text-align: center;
}

.auth-img{
    max-width: 5em;
    margin-top: 3em;
}

.login-txt{
  text-align: left;
  font-family: 'Suntage';
  cursor:default;
  margin-block-end: 0;
  position: fixed;
  margin-left: 2em;
  letter-spacing: 0.1em;
  margin-top: 2em;
}

#login-welcomeback{
  font-family: "gilroy-600";
  font-size: 1.1em;
  margin-block-start: 0.5em;
}

.auth-input{
  width: 50%;
  font-size: 1em;
  margin-top: 2.5em;
  background-color: transparent;
  color: #e4e5eb;
  padding: 0.5em 0em 0.7em 0em;
  font-family: 'gilroy-600';
  outline: none;
  border: none;
  border-bottom: 3px solid;
  border-color: #525252;
}


.auth-input{
  animation: borderchange 1s 1;
  animation-fill-mode: forwards;
}

.auth-submit{
  margin-top: 2em;
  outline: none;
  border: none;
  width: 7em;
  border-radius: 1em;
  background-color: var(--main-color);
  height: 2.8em;
  font-size: 1em;
  margin-right: 25%;
  font-family: 'gilroy-700';
  float: right;
  cursor: pointer;
}

.login-altauthtxt{
  margin-top: 3em;
  font-size: 2em;
  font-family: 'gilroy-700';
  letter-spacing: 0.2em;
}

.alternate-auth{
  position: relative;
  overflow: hidden;
  background-color: transparent;
  border: 2px #00FFB2 solid;
  height: 4em;
  border-radius: 0.6em;
  display: inline-block;
  width: 4em;
}

.alternate-auth-vector{
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 2.3em;
}

.altauth-txt{
  position: absolute;
  display: inline-block;
  top: 0.4em;
  vertical-align: middle;
  left: 4em;
}

#goto-signup{
  position: fixed;
  right: 1em;
  bottom: 1em;
  font-size: 0.9em;
  font-family: 'gilroy-700';
  outline: none;
  border: 2px white solid;
  padding: 0.5em 1em 0.5em 1em;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.4em;
}

#goto-signup:hover{
  animation: gotobtn 0.6s 1 forwards;
}

.cursor {
  pointer-events: none;
  display: none;
}
.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode:difference;
  z-index: 10095434953049823900;
}
.cursor__ball circle {
  fill: #f7f8fa;
}

.signup{
  position: relative;
  position: absolute;
  right: 0;
  width: 55%;
  top: 0;
  bottom: 0;
  text-align: center;
  padding-bottom: 2em;
  overflow: auto;
  display: none;
}

#goto-login{
  position: fixed;
  right: 1em;
  bottom: 1em;
  font-size: 0.9em;
  font-family: 'gilroy-700';
  outline: none;
  border: 2px white solid;
  padding: 0.5em 1em 0.5em 1em;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.4em;
}

a{
  color: inherit;
  border: inherit;
}
