<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exousia - Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="menu"></div>
    <div class="homepg">
        <div class="login-img">
            <img src="{{url_for('static', filename='login-img1.svg')}}" id="login-img">
        </div>
        <div class="login">
            <p class="login-txt">Login</p>
            <img src="{{url_for('static', filename='logo-type.svg')}}" class="auth-img" alt="">
            <p id="login-welcomeback">Welcome Back!</p>
            <form action="" id="loginform" method="post" style="margin-top: 3em">
                <input type="text" class="auth-input hoverable" name="login-email" placeholder="Email" id="login-username"><br>
                <input type="password" class="auth-input hoverable" name="login-password" placeholder="Password" id="login-password"><br>
                <input type="submit" class="auth-submit hoverable">
            </form>
            <br><br>
            <p class="login-altauthtxt">OR</p>
            <div class="altauth-container hoverable"> 
                <div class="alternate-auth" style="margin-right: 1em">
                    <img src="{{url_for('static', filename='googl.svg')}}" class="alternate-auth-vector" alt="">
                    <p class="altauth-txt" id="google-auth">Google</p>
                </div>
                <a href="{{OAUTH_URL}}">
                <div class="alternate-auth hoverable">
                    <img src="{{url_for('static', filename='discord.svg')}}" class="alternate-auth-vector" alt="">
                    <p class="altauth-txt" id="discord-auth">Discord</p>
                </div>
                </a>
            </div>
            <button id="goto-signup" class="hoverable">Sign Up</button>
        </div>
        <div class="signup">
            <p class="login-txt">Sign Up</p>
            <img src="{{url_for('static', filename='logo-type.svg')}}" class="auth-img" alt="">
            <p id="login-welcomeback">Lets do this</p>
            <form action="" id="signupform" method="post" style="margin-top: 3em">
                <input type="text" class="auth-input hoverable" name="signup-name" placeholder="Name" id="signup-name"><br>
                <input type="password" class="auth-input hoverable" name="signup-email" placeholder="Email" id="signup-email"><br>
                <input type="text" class="auth-input hoverable" name="signup-password" placeholder="Password" id="signup-password"><br>
                <input type="text" class="auth-input hoverable" name="signup-address" placeholder="Address" id="signup-address"><br>
                <input type="submit" class="auth-submit hoverable">
            </form>
            <br><br>
            <p class="login-altauthtxt">OR</p>
            <div class="altauth-container hoverable"> 
                <div class="alternate-auth" style="margin-right: 1em">
                    <img src="{{url_for('static', filename='googl.svg')}}" class="alternate-auth-vector" alt="">
                    <p class="altauth-txt" id="google-auth">Google</p>
                </div>
                <div class="alternate-auth hoverable">
                    <img src="{{url_for('static', filename='discord.svg')}}" class="alternate-auth-vector" alt="">
                    <p class="altauth-txt" id="discord-auth">Discord</p>
                </div>
            </div>
            <button id="goto-login" class="hoverable">Log In</button>
        </div>
    </div>
    <div class="cursor">
            
        <div class="cursor__ball cursor__ball--big ">
            <svg height="30" width="30">
              <circle cx="15" cy="15" r="12" stroke-width="0"></circle>
            </svg>
          </div>
        <div class="cursor__ball cursor__ball--small">
          <svg height="10" width="10">
            <circle cx="5" cy="5" r="4" stroke-width="0"></circle>
          </svg>
        </div>
      </div>
</body>
</html><script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js" integrity="sha512-Mf/xUqfWvDIr+1B6zfnIDIiG7XHzyP/guXUWgV6PgaQoIFeXkJQR5XWh9fqAiCiRCpemabt3naV4jhDWVnuYDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{url_for('static', filename='main.js')}}"></script>